* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 5rem;
}

/* table, td, th {
    border: 1px solid;
    padding: .3rem;
} */